<div class="container-forms">

    <div id="panel-1-1" class="form none">
        <h2>Créer un template</h2>
        <form action="/template/stage1/create" method="get">
            <div class="radios-group">
                <span>Orientation du template</span>
                <div class="radio">
                    <input type="radio" name="orientation" id="horizontal" value="H" checked>
                    <label for="horizontal">Horizontal</label>
                </div>
                <div class="radio">
                    <input type="radio" name="orientation" id="vertical" value="V">
                    <label for="vertical">Vertical</label>
                </div>
            </div>
            <div class="input-group">
                <label for="name">Nom du template</label>
                <input type="text" name="name" id="name">
            </div>
            <div>
                <button class="btn">valider</button>
            </div>
            <div class="message warning">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore deleniti, itaque voluptate veritatis eius nobis quod ut exercitationem iste odio magnam tenetur temporibus et, quidem atque, earum numquam? Ea, reprehenderit.8</p>
            </div>
        </form>
    </div>
    <div id="panel-1-2" class="form none">
        <h2>Modifier un template</h2>
        <form action="" method="">
            <div class="radios-group">
                <span>Filtrer par orientation</span>
                <div class="radio">
                    <input type="radio" name="orientation" id="horizontal" checked>
                    <label for="horizontal">Horizontal</label>
                </div>
                <div class="radio">
                    <input type="radio" name="orientation" id="vertical">
                    <label for="vertical">Vertical</label>
                </div>
                <div class="input-group">
                    <label for="templates">Nom du Template</label>
                    <select name="templates" id="templates">
                        <option value="">Liste des templates</option>
                    </select>
                </div>
            </div>
            <div>
                <button class="btn">valider</button>
            </div>
        </form>
    </div>
    <div id="panel-1-3" class="form none">
        <h2>Importer un template</h2>
        <form action="" method="">
            <div class="radios-group">
                <span>Filtrer par orientation</span>
                <div class="radio">
                    <input type="radio" name="orientation" id="horizontal" checked>
                    <label for="horizontal">Horizontal</label>
                </div>
                <div class="radio">
                    <input type="radio" name="orientation" id="vertical">
                    <label for="vertical">Vertical</label>
                </div>
            </div>
            <div class="input-group">
                <label for="templates">Liste des templates</label>
                <select name="templates" id="templates">
                    <option value="">Nom du template</option>
                </select>
            </div>
            <div class="input-group">
                <label for="name">Nom du template</label>
                <input type="text" name="name" id="name">
            </div>
            <div>
                <button class="btn">valider</button>
            </div>
        </form>
    </div>
    <div id="panel-2-1" class="form none">
        <h2>Modifier un template</h2>
        <form action="" method="">
            <div class="radios-group">
                <span>Filtrer par orientation</span>
                <div class="radio">
                    <input type="radio" name="orientation" id="horizontal" checked>
                    <label for="horizontal">Horizontal</label>
                </div>
                <div class="radio">
                    <input type="radio" name="orientation" id="vertical">
                    <label for="vertical">Vertical</label>
                </div>
            </div>
            <div class="input-group">
                <label for="templates">Liste des templates</label>
                <select name="templates" id="templates">
                    <option value="">Nom du template</option>
                </select>
            </div>
            <div class="input-group">
                <label for="name">Nom du template</label>
                <input type="text" name="name" id="name">
            </div>
            <div>
                <button class="btn">valider</button>
            </div>
        </form>
    </div>
    <div id="panel-2-2" class="form none">
        <h2>Importer un template</h2>
        <form action="" method="">
            <div class="radios-group">
                <span>Filtrer par orientation</span>
                <div class="radio">
                    <input type="radio" name="orientation" id="horizontal" checked>
                    <label for="horizontal">Horizontal</label>
                </div>
                <div class="radio">
                    <input type="radio" name="orientation" id="vertical">
                    <label for="vertical">Vertical</label>
                </div>
            </div>
            <div class="input-group">
                <label for="templates">Liste des templates</label>
                <select name="templates" id="templates">
                    <option value="">Nom du template</option>
                </select>
            </div>
            <div class="input-group">
                <label for="name">Nom du template</label>
                <input type="text" name="name" id="name">
            </div>
            <div>
                <button class="btn">valider</button>
            </div>
        </form>
    </div>
    <div id="panel-3-1" class="form none">
        <h2>Modifier un template</h2>
        <form action="" method="">
            <div class="radios-group">
                <span>Filtrer par orientation</span>
                <div class="radio">
                    <input type="radio" name="orientation" id="horizontal" checked>
                    <label for="horizontal">Horizontal</label>
                </div>
                <div class="radio">
                    <input type="radio" name="orientation" id="vertical">
                    <label for="vertical">Vertical</label>
                </div>
            </div>
            <div class="input-group">
                <label for="templates">Liste des templates</label>
                <select name="templates" id="templates">
                    <option value="">Nom du template</option>
                </select>
            </div>
            <div>
                <button class="btn">valider</button>
            </div>
        </form>
    </div>
</div>