<div class="panels" id="panels-1" data-stage="1">
    <div class="panel" data-option="1">
        <img src="https://via.placeholder.com/200/200">
        <h2>Créer un template</h2>
    </div>
    <div class="panel" data-option="2">
        <img src="https://via.placeholder.com/200/200">
        <h2>Modifier un template</h2>
    </div>
    <div class="panel" data-option="3">
        <img src="https://via.placeholder.com/200/200">
        <h2>Importer un template</h2>
    </div>
</div>
<div class="panels none" id="panels-2" data-stage="2">
    <div class="panel" data-option="1">
        <img src="https://via.placeholder.com/200/200">
        <h2>Modifier un template</h2>
    </div>
    <div class="panel" data-option="2">
        <img src="https://via.placeholder.com/200/200">
        <h2>Importer un template</h2>
    </div>
</div>
<div class="panels none" id="panels-3" data-stage="3">
    <div class="panel" data-option="1">
        <img src="https://via.placeholder.com/200/200">
        <h2>Modifier un template</h2>
    </div>
</div>