{% block stages %}
    <nav>
        <ul>
            <li class="active" data-stage="1"><p>Etape n°1</p></li>
            <li data-stage="2"><p>Etape n°2</p></li>
            <li data-stage="3"><p>Etape n°3</p></li>
        </ul>
    </nav>
{%  endblock %}
